<hr>
        <table class="table table-bordered bg">


            <tr>
                <th>Name</th>
                <th>Regestration Number</th>
                <th>Model name</th>
                <th>Duration</th>
                <th>Insurance Amount</th>
                
                
                
            </tr>
            
            <tr *ngFor="let c of car">
                
                <td>{{c.regNo}}</td>
            
                <td>{{c.model_name}}</td>
            <tr>
                
            </tr>
               
                
                
            
            </tr>
           
            
        
            </table>

           