/* .bg{
    background-color: antiquewhite;
} */

table{
    border-collapse: collapse;
}

th, td {
    padding: 13px;
    text-align:center;
  }

th {
    background-color: #6a87e6;
    color: white;
  }
td{
  color: white;
}