<div class="w3-padding-large" id="main">
    <table class="table table-bordered bg">


        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Email</th>


        </tr>

        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.email}}</td>
        </tr>
    </table>
    <br>

    <table *ngIf="customer.car.length>0" id=myTable>
        <tr>
            <th>Car Register No.</th>
            <th>Model Name</th>
            <th>Manufacture Year</th>
            <th>Purchased Year</th>
            <th>Price</th>
            <th>Insurance</th>

        </tr>
        <ng-container *ngFor="let car of customer.car">
            <tr>
                <td>{{car.regNo}}</td>
                <td>{{car.modelName}}</td>
                <td>{{car.manufctYear}}</td>
                <td>{{car.purchYear}}</td>
                <td>{{car.price}}</td>
                <td *ngIf="car.insurance === null"><button style="background-color: #6a87e6 ; color:white" type="submit"
                        (click)="insureNow(car)">Insure Now</button></td>
                <td *ngIf="car.insurance !== null" (click)="expanded = !expanded"><a>Insurance Details</a></td>
            </tr>
            <ng-container *ngIf="expanded">
                <tr>
                    <td>INSURANCE NUMBER: {{car.insurance.insuranceNo}} <br>
                        COVERAGE TYPE: {{car.insurance.coverageType}} <br>
                        Date Issued : {{car.insurance.dateIssued}} <br>
                        Expiry Date : {{car.insurance.expiryDate}} <br>
                        Premium Amount : {{car.insurance.amount}}</td>
                   
                </tr>
               
                
            </ng-container>
        </ng-container>
    </table>

   
    <div class="group">
        <input type="submit" (click)=" carpage()" style="background-color: #6a87e6 ; color:white" class="button" value="Register">
    </div>
</div>